* {
  font-family: Helvetica ,Arial , serif;
}

body {
  padding: 40px;
}

hr {
  border: 0;
  border-bottom: 1px solid grey;
  padding-top: 10px;
}

input {
  color: grey;
  width: 100%;
  font-size: 1.2rem;
}